.account-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 80px 120px 140px 200px;
}

h4 {
  margin-top: 28px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: normal;
  color: #1f81e2;
  text-align: left;
}

.profile-title {
  display: table;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 32px;
}

label {
  font-size: 16px;
  font-weight: none;
  margin-bottom: 5px;
  text-align: justify;
}

.account-info {
  flex: 0.8;
  margin-right: 30px;
  margin-left: -85px;
}

.profile-option {
  font-weight: normal;
  color: black;
  cursor: pointer;
  transition: font-weight 0.2s, color 0.2s;
}

.profile-option.hovered {
  font-weight: unset;
  text-decoration: underline;
}

.profile-option.active {
  color: #1f81e2;
}

.order-option {
  font-weight: normal;
  color: black;
  cursor: pointer;
  transition: font-weight 0.2s, color 0.2s;
}

.order-option.hovered {
  font-weight: unset;
}

.order-option.active {
  color: #000000;
}

.account-card {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 30px 20px 455px 35px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: white;
}

.account-method {
  margin-bottom: 15px;
  position: relative;
}

.account-method h8 {
  color: black;
  font-size: 16px;
  margin-bottom: 24px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.account-method p {
  font-size: 18px;
  color: black;
  opacity: 80%;
  margin-left: 0px;
  margin-bottom: 5px;
}

.account-form {
  flex: 2.2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}

.form-a {
  display: flex;
  flex-direction: column;
  padding: 0px 32px 40px 32px;
}

.form-group-a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 20px;
}

.form-group-pass {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group-a input,
.form-group-pass input,
.form-groupa-a textarea {
  height: 50px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
}

.form-group-a input:focus,
.form-group-pass input:focus {
  border: 1px solid dodgerblue;
  outline: none;
}

#currentPassword,
#newPassword {
  margin-bottom: 10px;
}

.size textarea {
  height: 50px;
  resize: none;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.button-group {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.cancel-btn {
  background-color: transparent;
  border: none;
  color: #000000;
  font-size: 14px;
  margin-right: 25px;
  cursor: pointer;
}

.save {
  background-color: dodgerblue;
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
  opacity: 1;
}

.save:hover {
  background-color: #1f81e2;
}

.save:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .account-container {
    flex-direction: column;
    margin: 20px 15px;
  }

  .account-info {
    margin-left: 0;
    margin-right: 0;
  }

  .account-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 30px 20px 0px 35px;
    border-radius: 8px;
    margin-right: 8px;
    background-color: white;
  }

  .account-method p {
    font-size: 18px;
    color: black;
    opacity: 80%;
    margin-left: 0px;
    margin-bottom: 5px;
  }

  .profile-title {
    display: table;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 36px;
  }

  .form-a {
    display: flex;
    flex-direction: column;
    padding: 0px 16px 10px 16px;
  }

  .form-group {
    flex-direction: column;
    gap: 1rem;
  }

  h4 {
    margin-left: 0;
    font-size: 18px;
  }

  form {
    margin: 20px 20px;
  }

  .button-group {
    justify-content: right;
  }
}

@media (max-width: 1250px) and (min-width: 1001px) {
  .account-container {
    margin: 100px 5vw;
  }

  .account-info {
    flex: 0.9;
    margin-right: 30px;
    margin-left: 0px;
  }
}

@media (max-width: 1000px) {
  .account-container {
    margin: 50px 3vw;
  }
}

@media (min-width: 1920px) {
  .account-container {
    margin: 10rem 8rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  form {
    margin: 20px 80px;
  }

  .form-group input,
  .form-group textarea {
    padding: 1rem;
  }
}

@media (min-width: 3840px) {
  .account-container {
    margin: 15rem 12rem;
    padding: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  .form-group input,
  .form-group textarea {
    padding: 1.25rem;
  }
}
