/* OurHistory.css */
.custom-title {
  font-size: 3.4rem; /* Ajuste o tamanho conforme necessário */
  font-weight: 700; /* Negrito */
}

.custom-text {
  font-size: 1rem;
}

/* OurHistory.css */
.custom-title {
  font-size: 3.4rem; /* Ajuste o tamanho conforme necessário */
  font-weight: 700; /* Negrito */
}

.custom-text {
  font-size: 1rem;
}
