.checkout-container{
  font-family: Poppins, Inter, sans-serif;
  margin: 0 10vw;
  text-align: center;
  margin-bottom: 50px;
  
}
.checkout-informations{
  display: grid; 
  grid-template-columns: repeat(2, 1fr); /* Três colunas iguais */ 
  grid-template-rows: auto; /* Ajusta automaticamente a altura das linhas */ 
  grid-gap: 10px;
  .checkout-box1{
    grid-column: 1;
  }
  .checkout-box2{
    grid-column: 2;
  }
}
.checkout-box {
  border: 1px solid #00000039;
  border-radius: 25px;
  margin: 10px;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  div{
    margin-bottom: 24px;
  }

  

}
.checkout-heading{
  padding-top: 15px;
}

.checkout-input {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  text-align: center;
}
.checkout-input2 {
  border: 2px solid grey;
  border-radius: 4px;
  padding: 10px;
  width: 35%;
  text-align: center;
  margin: 0 5%;
}
/*Comando de baixo é para remover as setas dos input do tipo number de ter umas setas para aumentar ou diminuir os valores(anotado pois vou esquecer a utilidade)*/
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }




.checkout-button {
  background: dodgerblue;
  border: 0;
  color: white;
  padding: 10px 100px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.2s;
  margin-top: 10px;
  &:hover{
    transform: scale(1.05);
    background-color: rgb(26, 118, 209);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }
}

.checkout-payment{
  padding: 2px;
  border-radius: 5px;
  
}



.checkout-cardInformations{
  label{
    text-align: center;
  }
  input{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
  }
  .checkout-numberCardLabel{
    margin: 5px 10%;
  }
  #numberCard{
    margin: 5px 10%;
    width: 80%;
  }
  &>div{
    margin-top: 15px;
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
    div{
      width: 40%;
    }
    label{
      width: 100%;
    }
    input{
      width: 100%;
    }
  }
}



@media (max-width: 1465px) {
  .checkout-cardInformations{
    &>div{
      display: block;
      div{
        width: 100%;
      }
      label{
        width: 100%;
      }
      input{
        width: 100%;
      }
    }
  }
  .checkout-input2 {
    width: 80%;
    margin: 0;
    margin-bottom: 24px;
  }
  
}
@media (max-width: 900px) {
  .checkout-informations{
    display: block;
    margin-left: 10%;
    width: 80%;
  }
  .checkout-form{
    margin: 0;
    padding: 10px 0;
  }

}
@media (max-width: 650px) {
  .checkout-container{
    margin: 0;
  }
  .checkout-informations{
   margin-left: 5%;
   width: 90%; 
  }
}
@media (max-width: 400px) {
  .checkout-button {
    padding: 10px 25px;
  }
}